<footer class="page-footer font-small bg-secondary bg-warning  pt-4">

    <div class="container">
        <div class="row">

            <div class="col-md-12 d-flex justify-content-center ">
                <h4 class="text-white"> Siga-nos nas redes sociais</h4>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12  d-flex justify-content-center">

                <ul class="social-network">

                    <li>
                        <a href="https://www.facebook.com/OraculodoGildo/" target="_blank" class="icoFacebook">
                            <i class="fa fa-facebook-square" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UCZ1DqK_PxOXy9zd4g11cbxQ" target="_blank"
                            class="icoInsta">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.youtube.com/channel/UCZ1DqK_PxOXy9zd4g11cbxQ" target="_blank"
                            class="icoFacebook">
                            <i class="fa fa-youtube" aria-hidden="true"></i>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-warning text-center py-3">
        <span class= "text-light"> ©️ 2021 Copyright: </span>
        <a  class="text-light" target="_blank" href="hhttps://www.youtube.com/channel/UCZ1DqK_PxOXy9zd4g11cbxQ" 
        > Oraculo Gildo</a>
    </div>
</footer>